# =========================
# 🔐 GÜVENLİK VE GİZLİLİK (ASLA SİLME)
# =========================
serviceAccountKey.json
GoogleService-Info.plist
google-services.json
.env
*.pem
*.key

# =========================
# 📱 FLUTTER / DART
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# =========================
# 🤖 ANDROID
# =========================
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# =========================
# 🍎 iOS / MACOS
# =========================
.DS_Store
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.symlinks/
**/ios/ProfileProfile.entitlements
**/ios/Runner.xcworkspace/xcuserdata/

# =========================
# 🐍 PYTHON / DJANGO (Backend İçin)
# =========================
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/
.venv/
venv/
env/

# =========================
# 🛠 EDİTÖR VE IDE DOSYALARI
# =========================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Miscellaneous
*.class
*.log
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json