<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDajL0Hh1rAOBadL0JhNuJsL_UWEtOAXkU</string>
	<key>GCM_SENDER_ID</key>
	<string>346901646140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.com.hemo.hemoApp.ios</string>
	<key>PROJECT_ID</key>
	<string>hemo-ubasoft</string>
	<key>STORAGE_BUCKET</key>
	<string>hemo-ubasoft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346901646140:ios:bc1aacf93e90dd92a9ac39</string>
</dict>
</plist>